<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="global-container">
      <div id="container">
        <header class="header">
          <div class="header__inner">
            
            {% if user.is_authenticated %}
            <a class="header__items" href="{% url 'shiftcontrol:login_home' %}">シフト確認</a>
            <a class="header__items" href="{% url 'accounts:calendar' %}">シフト登録</a>
             <a class="header__items" href="{% url 'accounts:logout' %}">ログアウト</a>
            {% else %}
            <a class="header__items" href="{% url 'shiftcontrol:home' %}">アプリイメージ</a>
            <a class="header__items" href="{% url 'accounts:login' %}">ログイン</a>
            <a class="header__items" href="{% url 'accounts:regist' %}">登録</a>
            {% endif %}
          </div>
        </header>
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>
